vendor
node_modules
.git
.gitignore
.env
.env.backup
tests
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
phpunit.xml
.editorconfig
.gitattributes
